.iphone-6.black.landscape {
  border-left: 16em solid #151515;
  border-right: 14.5em solid #151515;
  border-bottom: 2.5em solid #151515;
  border-top: 2.5em solid #151515;
  width: 111.167em;
  height: 62.5em;
}

.iphone-6.black.landscape::before {
  height: 1em;
  width: 3em;
  left: -6em;
  top: -4.333em;
  box-shadow: 120em 0 rgba(0, 0, 0, 0.3),
			  0 71em rgba(0, 0, 0, 0.3), 
			  120em 71em rgba(0, 0, 0, 0.3),			  
			  6.667em 71.667em 0em -0.333em #667, 
			  8em 71.667em 0em -0.333em #667, 
			  10.333em 71.667em 0em -0.333em #667,
			  7em 72em 0em -0.333em #778, 
			  8em 72em 0em -0.333em #778, 
			  10em 72em 0em -0.333em #778,			  
			  7em 71.667em #444, 
			  8em 71.667em #444, 
			  10em 71.667em #444, 			  
			  19.667em -1em 0em -0.333em #667, 
			  21em -1em 0em -0.333em #667, 
			  23em -1em 0em -0.333em #667, 
			  25em -1em 0em -0.333em #667, 
			  27em -1em 0em -0.333em #667, 
			  28.333em -1em 0em -0.333em #667, 
			  20em -1.333em 0em -0.333em #778, 
			  21em -1.333em 0em -0.333em #778, 
			  23em -1.333em 0em -0.333em #778, 
			  24em -1.333em 0em -0.333em #778, 
			  26em -1.333em 0em -0.333em #778, 
			  28em -1.333em 0em -0.333em #778, 
			  20em -1em #444, 
			  21em -1em #444, 
			  23em -1em #444, 
			  24em -1em #444, 
			  26em -1em #444, 
			  28em -1em #444, 			  
			  33em 71.667em 0em -0.333em #667, 
			  34em 71.667em 0em -0.333em #667, 
			  36em 71.667em 0em -0.333em #667, 
			  37em 71.667em 0em -0.333em #667, 
			  39em 71.667em 0em -0.333em #667, 
			  41.333em 71.667em 0em -0.333em #667, 			  
			  33.333em 72em 0em -0.333em #778, 
			  34em 72em 0em -0.333em #778, 
			  36em 72em 0em -0.333em #778, 
			  37em 72em 0em -0.333em #778, 
			  39em 72em 0em -0.333em #778, 
			  41em 72em 0em -0.333em #778,			  
			  33.333em 71.667em #444, 
			  34em 71.667em #444, 
			  36em 71.667em #444, 
			  37em 71.667em #444, 
			  39em 71.667em #444, 
			  41em 71.667em #444, 			  
			  19.667em 71.667em 0em -0.333em #667, 
			  21em 71.667em 0em -0.333em #667, 
			  23em 71.667em 0em -0.333em #667, 
			  25em 71.667em 0em -0.333em #667, 
			  27em 71.667em 0em -0.333em #667, 
			  28.333em 71.667em 0em -0.333em #667, 
			  20em 72em 0em -0.333em #778, 
			  21em 72em 0em -0.333em #778, 
			  23em 72em 0em -0.333em #778, 
			  24em 72em 0em -0.333em #778, 
			  26em 72em 0em -0.333em #778, 
			  28em 72em 0em -0.333em #778, 
			  20em 71.667em #444, 
			  21em 71.667em #444, 
			  23em 71.667em #444, 
			  24em 71.667em #444, 
			  26em 71.667em #444, 
			  28em 71.667em #444;
}

.iphone-6.black.landscape::after {  
  left: -13.333em;
  top: 31.333em;
  box-shadow: inset 0 0 0 0.334em #1b1b1b,
			  5em 11.667em 0 -0.5em rgba(50, 50, 255, 0.4),
			  5.333em 11em 1em -0.5em rgba(255, 255, 255, 0.3),
			  5em 11.333em 0.333em -0.333em #222,
			  5em 11.333em 0 0 #252525,
			  5em 0 11.333em 0.333em #333, 
			  4.667em 11.667em 0 -0.833em rgba(255, 255, 255, 0.3),
			  5em 11.333em 0 0 #444,
			  5em 11.333em 0 0.333em #333, 
			  5em -5.333em 0 -0.333em #252525, 
			  5em -5em 0 -0.333em #252525, 
			  5em -4.667em 0 -0.333em #252525, 
			  5em -4.333em 0 -0.333em #252525, 
			  5em -4em 0 -0.333em #252525, 
			  5em -3.667em 0 -0.333em #252525, 
			  5em -3.333em 0 -0.333em #252525, 
			  5em -3em 0 -0.333em #252525, 
			  5em -2.667em 0 -0.333em #252525, 
			  5em -2.333em 0 -0.333em #252525, 
			  5em -2em 0 -0.333em #252525, 
			  5em -1.667em 0 -0.333em #252525, 
			  5em -1.333em 0 -0.333em #252525, 
			  5em -1em 0 -0.333em #252525, 
			  5em -0.667em 0 -0.333em #252525, 
			  5em -0.333em 0 -0.333em #252525, 
			  5em 0 0 -0.333em #252525, 
			  5em 0.333em 0 -0.333em #252525, 
			  5em 0.667em 0 -0.333em #252525, 
			  5em 1em 0 -0.333em #252525, 
			  5em 1.333em 0 -0.333em #252525, 
			  5em 1.667em 0 -0.333em #252525, 
			  5em 2em 0 -0.333em #252525, 
			  5em 2.333em 0 -0.333em #252525, 
			  5em 2.667em 0 -0.333em #252525, 
			  5em 3em 0 -0.333em #252525, 
			  5em 3.333em 0 -0.333em #252525, 
			  5em 3.667em 0 -0.333em #252525,
			  5em 4em 0 -0.333em #252525, 
			  5em 4.333em 0 -0.333em #252525, 
			  5em 4.667em 0 -0.333em #252525, 
			  5em 5em 0 -0.333em #252525, 
			  5em 5.333em 0 -0.333em #252525,
			  132em 0 2em 3em #1c1c1c, 
			  132em 0 0 4em #151515,
			  134em 0 2em 2.75em #151515,  
			  129em 0 2em 2.5em #151515,
			  132em 0 0 4.75em rgba(95, 95, 95, 0.4), 
			  135em -3em 0 3em #151515, 
			  132em -6em 0 0em #151515,
			  129em -3em 0 3em #151515, 
			  132em 0 0 4.75em #667;
}