.iphone-6.white.landscape {
  border-left: 16em solid #f8f8f8;
  border-right: 14.5em solid #f5f5f5;
  border-bottom: 2.5em solid #f5f5f5;
  border-top: 2.5em solid #f8f8f8;
  width: 111.167em;
  height: 62.5em;
}

.iphone-6.white.landscape::before {
  height: 1em;
  width: 3em;
  left: -6em;
  top: -4.333em;
  box-shadow: 120em 0 #cbcbcb,
			  0 70.667em #cbcbcb, 
			  120em 70.667em #cbcbcb, 
			  7em 71.667em #b0b0b0, 
			  8em 71.667em #b0b0b0, 
			  10em 71.667em #b0b0b0, 
			  20em -1em #b0b0b0, 
			  21em -1em #b0b0b0, 
			  23em -1em #b0b0b0, 
			  24em -1em #b0b0b0, 
			  26em -1em #b0b0b0, 
			  28em -1em #b0b0b0, 
			  33.333em 71.667em #b0b0b0, 
			  34em 71.667em #b0b0b0, 
			  36em 71.667em #b0b0b0, 
			  37em 71.667em #b0b0b0, 
			  39em 71.667em #b0b0b0, 
			  41em 71.667em #b0b0b0, 
			  20em 71.667em #b0b0b0, 
			  21em 71.667em #b0b0b0, 
			  23em 71.667em #b0b0b0, 
			  24em 71.667em #b0b0b0, 
			  26em 71.667em #b0b0b0, 
			  28em 71.667em #b0b0b0;
}

.iphone-6.white.landscape::after {  
  left: -13.333em;
  top: 31.333em;
  box-shadow: 4.667em 11.667em 0 -0.667em rgba(100, 100, 255, 0.5),
			  5.333em 11em 1em -0.5em rgba(255, 255, 255, 0.3),
			  5em 11.333em 0 0 #3c3d3d, 
			  5em 11.333em 0 0.333em #555, 
			  5em -5.333em 0 -0.333em #3c3d3d, 
			  5em -5em 0 -0.333em #3c3d3d, 
			  5em -4.667em 0 -0.333em #3c3d3d, 
			  5em -4.333em 0 -0.333em #3c3d3d, 
			  5em -4em 0 -0.333em #3c3d3d, 
			  5em -3.667em 0 -0.333em #3c3d3d, 
			  5em -3.333em 0 -0.333em #3c3d3d, 
			  5em -3em 0 -0.333em #3c3d3d, 
			  5em -2.667em 0 -0.333em #3c3d3d, 
			  5em -2.333em 0 -0.333em #3c3d3d, 
			  5em -2em 0 -0.333em #3c3d3d, 
			  5em -1.667em 0 -0.333em #3c3d3d, 
			  5em -1.333em 0 -0.333em #3c3d3d, 
			  5em -1em 0 -0.333em #3c3d3d, 
			  5em -0.667em 0 -0.333em #3c3d3d, 
			  5em -0.333em 0 -0.333em #3c3d3d, 
			  5em 0 0 -0.333em #3c3d3d, 
			  5em 0.333em 0 -0.333em #3c3d3d, 
			  5em 0.667em 0 -0.333em #3c3d3d, 
			  5em 1em 0 -0.333em #3c3d3d, 
			  5em 1.333em 0 -0.333em #3c3d3d, 
			  5em 1.667em 0 -0.333em #3c3d3d, 
			  5em 2em 0 -0.333em #3c3d3d, 
			  5em 2.333em 0 -0.333em #3c3d3d, 
			  5em 2.667em 0 -0.333em #3c3d3d, 
			  5em 3em 0 -0.333em #3c3d3d, 
			  5em 3.333em 0 -0.333em #3c3d3d, 
			  5em 3.667em 0 -0.333em #3c3d3d,
			  5em 4em 0 -0.333em #3c3d3d, 
			  5em 4.333em 0 -0.333em #3c3d3d, 
			  5em 4.667em 0 -0.333em #3c3d3d, 
			  5em 5em 0 -0.333em #3c3d3d, 
			  5em 5.333em 0 -0.333em #3c3d3d,
			  5.333em -5.333em 0 -0.333em #e0e0e0, 
			  5.333em -5em 0 -0.333em #e0e0e0, 
			  5.333em -4.667em 0 -0.333em #e0e0e0, 
			  5.333em -4.333em 0 -0.333em #e0e0e0, 
			  5.333em -4em 0 -0.333em #e0e0e0, 
			  5.333em -3.667em 0 -0.333em #e0e0e0, 
			  5.333em -3.333em 0 -0.333em #e0e0e0, 
			  5.333em -3em 0 -0.333em #e0e0e0, 
			  5.333em -2.667em 0 -0.333em #e0e0e0, 
			  5.333em -2.333em 0 -0.333em #e0e0e0, 
			  5.333em -2em 0 -0.333em #e0e0e0, 
			  5.333em -1.667em 0 -0.333em #e0e0e0, 
			  5.333em -1.333em 0 -0.333em #e0e0e0, 
			  5.333em -1em 0 -0.333em #e0e0e0, 
			  5.333em -0.667em 0 -0.333em #e0e0e0, 
			  5.333em -0.333em 0 -0.333em #e0e0e0, 
			  5.333em 0 0 -0.333em #e0e0e0, 
			  5.333em 0.333em 0 -0.333em #e0e0e0, 
			  5.333em 0.667em 0 -0.333em #e0e0e0, 
			  5.333em 1em 0 -0.333em #e0e0e0, 
			  5.333em 1.333em 0 -0.333em #e0e0e0, 
			  5.333em 1.667em 0 -0.333em #e0e0e0, 
			  5.333em 2em 0 -0.333em #e0e0e0, 
			  5.333em 2.333em 0 -0.333em #e0e0e0, 
			  5.333em 2.667em 0 -0.333em #e0e0e0, 
			  5.333em 3em 0 -0.333em #e0e0e0, 
			  5.333em 3.333em 0 -0.333em #e0e0e0, 
			  5.333em 3.667em 0 -0.333em #e0e0e0,
			  5.333em 4em 0 -0.333em #e0e0e0, 
			  5.333em 4.333em 0 -0.333em #e0e0e0,  
			  5.333em 4.667em 0 -0.333em #e0e0e0, 
			  5.333em 5em 0 -0.333em #e0e0e0, 
			  5.333em 5.333em 0 -0.333em #e0e0e0, 
			  5.333em 5.667em 0 -0.333em #e0e0e0,			  
			  132em 0 2em 3em #f8f8f8, 
			  132em 0 0 4em #eee, 
			  132em 0 0 4.75em rgba(170, 170, 170, 0.4), 
			  135em -3em 0 3em #f5f5f5, 
			  132em -6em 0 0em #f5f5f5, 
			  129em -3em 0 3em #f5f5f5, 
			  132em 0 0 4.75em #aaaaaa, 
			  131.667em 0.333em 0 4.667em #e0e0e0, 
			  131.333em 0.667em 0 4.667em #f0f0f0;
}