.ipad-mini-3 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: content-box;
  width: 128em;
  height: 170.667em;
  font-size: 6px;
  border-radius: 11em;
  padding: 20.667em 7em;
  border: 1em solid transparent;
  background:	linear-gradient(45deg, transparent 38%, #f5f6f8 49%, transparent 50%) top -8em left -1em,
				linear-gradient(-45deg, transparent 49%, #f5f6f8 50%, transparent 62%) top -4em right -1em,
				linear-gradient(-45deg, transparent 49%, #f5f6f8 50%, transparent 62%) bottom -8em left -1em,
				linear-gradient(45deg, transparent 38%, #f5f6f8 49%, transparent 50%) bottom -6em right -1em,
				radial-gradient(farthest-side at left top, #47474d, transparent) top -1em left -1em,
				radial-gradient(farthest-side at left bottom, #47474d, transparent) bottom -1em left -1em,
				radial-gradient(farthest-side at right bottom, #47474d, transparent) bottom -1em right -1em,
				radial-gradient(farthest-side at right top, #47474d, transparent) top -1em right -1em;
  background-size: 20% 20%;
  background-color: currentColor;
  background-repeat: no-repeat;
}

.ipad-mini-3::after {
  content: '';
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  top: 198em;
  left: calc(50% - 5em);
}

.ipad-mini-3> *:first-child {
  max-width: 100%
}